# macOS system files
.DS_Store
**/.DS_Store

# Meteor
.meteor/local/
.meteor/.id
# Ensure we DO track these essential config files
! .meteor/packages
! .meteor/platforms
! .meteor/release
! .meteor/versions

# IDEs and Dependencies
.vscode/
node_modules/

# Builds
demo-build/